*{
    margin: 0;
    padding: 0;
    
}

header{
    background-color: whitesmoke;
    border-bottom: 1px solid gray;
    max-height: 150px; 
    margin-left: 3rem;
    margin-right: 3rem;
}

    #logo{
        display: inline-block;
        position: relative;

    }

    nav{
        display: inline-block;
        position: absolute;
        right: 4rem;
        top: 3rem;
    }

        nav a{
            color: gray;
            text-decoration: none;
            margin-left: 25px;
            
        }

.seccion{
    display: flex;
    justify-content: space-evenly;
    /* padding: 3rem; */
    margin: 3rem;
    /* background-color: black; */
    /* color: white;    */
}

    #intro{
        padding: 3rem;
        margin: 3rem;
    }

        h1{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 900;
        }

#lenguajes{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;

}
    .flexitem{
        /* border: solid 1px white; */

        border-radius: 10px;
        overflow: hidden;
        height: 250px;
        width: 180px;
        text-align: center;
        
    }
        .circular{
            /* FORMA Y CORTE DE IMAGEN */
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border: solid 5px gray;
            background-color: white;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 10px;
            text-align: center;
            overflow: hidden;
        }
            .circular img{
                padding-top: 25px;
            }

        .mini{
            margin-bottom: 10px;
            text-align: center;
        }

#desarrollos{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
    .flexcard{
        
        justify-content: space-evenly;
        overflow: hidden;
        height: 230px;
        width: 250px;
        text-align: center;

    }
        .rectangular{
            width: 250px;
            height: 150px;
            border: solid 2px gray;
            border-radius: 10px;
            
            justify-content: space-evenly;
            overflow: hidden;
            text-align: center;
            margin: auto;
            margin-top: 15px;
            margin-bottom: 15px;
        }
            .rectangular img{
                position: relative;
                right: 25px;

        }
        .mini{
            justify-content: center;
            text-align: center;
            line-height: 1.5rem;
        }
            .mini a{
                color: gray;
            }
    
footer{
    margin: 1rem;
    padding: 1rem;
    border-top: 1px solid gray;
    text-align: center;
}

footer h2{
    margin-bottom: 2rem;
    color: gray;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

footer ul li{
    list-style: none;
    font-size: xx-large;
    
}

footer ul li a{
    color: black;
}
